* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    background-color: #aeafb9;
}

#countryInputButton {
    padding: 2px 1px;
}

#countryInput {
    padding: 2px 1px;
}

.row {
    margin: 10px;
    width: 300px;
}
